# Supabase Configuration
# Replace these with your project URL and Anon Key from Supabase Dashboard -> Project Settings -> API
VITE_SUPABASE_URL=https://wachtmffhmkgpjbzneef.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_KkoOH_r-MdGb2gqloUP9ng_IMmYzwqg
